In [2]:
import pandas as pd

## Dataframe creation

In [3]:
amap = dict(
    k1=1,
    k2=2,
    k3=3,
)

amaplist = dict(
    k1=['a', 'b'],
    k2=['c', 'd'],
    k3=['e', 'f']
)

key as index

In [14]:
pd.DataFrame.from_dict(amap, orient='index', columns=['val'])

    val
k1    1
k2    2
k3    3

key as columns

In [23]:
## these 3 are the same

#pd.DataFrame.from_dict(amaplist, orient='columns')
#pd.DataFrame.from_dict(amaplist)
pd.DataFrame(amaplist)

  k1 k2 k3
0  a  c  e
1  b  d  f

In [25]:
pd.DataFrame([amap])

   k1  k2  k3
0   1   2   3

## Datframe merging

In [51]:
df1 = pd.DataFrame([[1, 2, 3]], columns=['c1', 'c2', 'c3'])
df2 = pd.DataFrame([[4, 5, 6]], columns=['c1', 'c2', 'c3'])
ls = [7, 8, 9]
amap=dict(c1=10, c2=11, c3=12)

new row

In [33]:
pd.concat([df1, df2])

   c1  c2  c3
0   1   2   3
0   4   5   6

In [44]:
pd.concat([df1, pd.DataFrame([amap])], ignore_index=True)

   c1  c2  c3
0   1   2   3
1  10  11  12

In [50]:
# inplace append
df1.loc[1] = ls
df1

   c1  c2  c3
0   1   2   3
1   7   8   9